@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*  */
  opacity: 0;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  background: linear-gradient(to bottom, #e6e6e6 0%, #ffffff 100%);
}

// clr variables
$text-clr: #d0021b;
$text-clr-light: #dd2c01;
$section-bg: #e6e6e6;
// utils
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
span {
  color: $text-clr;
}

.span-light {
  color: #dd2c01;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  border: 1px solid gray;
  /* padding: 10px 12px; */
  border-radius: 8%;
  font-size: 15px;
  filter: invert(1);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 21% 99%);
  padding: .375rem 1.75rem;
  font-size: 1rem;
}
.heading {
  text-align: center;
  padding-bottom: 4rem;
}

.underline {
  text-decoration: none;
  position: relative;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
}

.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -21px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 7%;
  background: #7c7476;

  /* optional animation */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.underline:hover:after {
  width: 10%;
  background: #000000;
}

//  end ***************

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  width: 100%;
  background: $section-bg;
  position: sticky;
  z-index: 11;
  transition: all 0.4s ease 0s;

  & .container {
    max-width: 1200px;
    padding-left: 0;
  }
  & .logo a {
    text-decoration: none;
    cursor: pointer;
  }

  & h2 {
    font-weight: 450;
    text-decoration: none;
    margin: 0;
    font-size: 18px;
    color: $text-clr;
  }

  & .navbar {
    display: flex;
    align-items: center;
    /* padding: 20px 0; */
    padding: 15px 11px;
  }
  & nav {
    flex: 1;
    text-align: right;
  }

  & nav ul li {
    display: inline-block;
    margin: 0px 15px;
  }

  & nav ul li a {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);
    transition: all 0.5s;
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
  }

  & .left-info .fa {
    padding-right: 6px !important;
  }

  & #MenuItems {
    display: inline-block;
    margin: 0;
  }

  & nav ul li :hover {
    border-bottom: 1px dotted;
    color: #d10c24;
  }
}

.menu-icon {
  width: 28px;
  display: none;
}

//  about me
section.about-me {
  // background: $section-bg;

  & .container {
    max-width: 1200px;
  }
  & .heading {
    padding: 0;
  }

  & .img-div {
    flex-basis: 40%;
    max-height: 465px;
  }

  & img {
    width: 100%;
    object-fit: cover;
    max-height: 465px;
  }

  & .left-contenr {
    flex-basis: 33%;
  }

  & .left-contenr p {
    font-size: 14px;
    line-height: 22px;
  }

  & .left-contenr h4 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
  }

  & .left-contenr .links {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 50%;
    padding-left: 0;
    background: aliceblue;
    color: grey;
    padding-top: 7px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.9s ease;
  }
  & .left-contenr .links :hover {
    color: #cf3d55;
    transform: translateY(-0.3px);
  }

  & .heading {
    text-align: center;
  }

  & .heading h1 {
    font-size: 3.5rem;
    margin-top: 0;
    padding-top: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  & .row {
    border-bottom: 2px solid #c3c3c3;
    margin-bottom: 1rem;
  }
}

//  projects- section

section.projects {
  // background: $section-bg;
  margin-top: 5rem;
  padding-top: 5rem;
  & .container {
    max-width: 1100px;
  }
& .CateButtons{
  margin-bottom: 3rem;
  text-align: center;

    .row {
    
      justify-content: space-evenly;
      align-content: center;
      flex-wrap: wrap;
    }
    .btn:hover{
     filter: invert(0);
      transition: all 0.3s ease;
    }
}
  & .projects-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  & .projects-cards .card {
    width: 100%;
    background: #ffffff;
    position: relative;
    height: 460px;
    box-shadow: 0 0 9px 1px #808080b5;
    transition: transform 0.5s;
  }

  & .projects-cards .card:hover {
    transform: translateY(-5px);
  }

  & .projects-cards .card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    // background: rgba(61, 207, 211, 0.9);
    background: radial-gradient(#ffffff75, #80808094);
    flex-direction: column;
    color: #ffff;
    opacity: 0;
    transition: all 0.3s ease;
  }
  & .projects-cards .card:hover .overlay a{
   color: #ffff;
    text-decoration: none;
  }
  & .projects-cards .card:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }

  & .projects-cards .card .project-img {
    width: 100%;
    height: 50%;
  }

  & .projects-cards .card img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
  }

  & .projects-cards .card .project-caption {
    padding: 10px 17px;
    text-align: center;
  }
  & .projects-cards .card .project-caption h4 {
    font-weight: 500;
    margin-bottom: 0;
  }
  & .projects-cards .card .project-caption p {
    font-size: 15px;
  }

  & .projects-cards .card .project-caption h6 {
    font-size: 13px;
    font-weight: 400;
    color: gray;
  }
}

// more
section.more {
  margin-top: 5rem;
  & .container {
    max-width: 999px;
  }
  & .row {
    justify-content: space-between;
  }
  & .heading {
    padding-bottom: 2.5rem;
  }

  & .animated-col {
    flex-basis: 45%;
  }
  & .progress-wrap {
    // width: 60%;
    width: 100%;
    margin: auto;
  }
  & .progress-wrap div div div {
    position: relative !important;
  }

  & .progress-wrap div div div:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    background: inherit;
    border-radius: 50%;
    content: "";
  }

  & .progress-wrap span {
    font-size: 11px !important;
  }
  & .progress-wrap h3 {
    font-weight: 400;
    margin-bottom: 0;
  }
}

//  contact- section
section.contact {
  // background: $section-bg;
  margin-top: 5rem;

  & .container {
    max-width: 1200px;
  }

  & .heading {
    padding: 1rem;
  }

  & .contact-info {
    width: 65%;
    margin: auto;
    padding: 10px;
    text-align: center;
  }

  & .MuiSvgIcon-root {
    padding: 0 1rem;
  }
  & em {
    cursor: pointer;
  }
}

// footer
footer {
  padding: 20px;
  background: $section-bg;
  margin-top: 5rem;
  text-align: center;
}

// MEDIA QUERY

@media only screen and (max-width: 599px) {
  nav ul {
    position: absolute;
    // top: 70px;
    top: 57px;
    height: 350px;
    left: 0;
    background: whitesmoke;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
  }
  nav ul li {
    margin: 0 !important;
    height: 50px;
    border-top: 1px solid #9e9e9e29;
    width: 100%;
    padding: 8px;
  }
  nav ul li a {
    color: maroon;
    display: inline-block;
    margin-top: 15px !important;
    font-size: 20px !important;
    font-weight: 400 !important;
  }
  .menu-icon {
    display: block;
  }
  #MenuItems {
    margin-top: 1rem;
  }
  header h2 {
    margin-left: 1rem;
  }

  header .container {
    width: auto;
  }
  nav ul {
    padding: 0;
  }
  .log {
    display: none !important;
  }
  // About me-res
  section.about-me {
    & .container {
      width: 95%;
      padding-left: 0;
      padding-right: 0;
      margin: auto;
    }

    & .row {
      flex-direction: column;
    }

    & .left-contenr h4 {
      text-align: center;
    }

    & .left-contenr p {
      width: 83%;
      margin: auto;
    }

    & .left-contenr .links {
      width: 100%;
    }

    & .img-div {
      text-align: center;
    }

    & img {
      width: 85%;
    }
  }

  //  project -res
  section.projects {
    & .container {
      width: 85%;
    }
    & .row{
      row-gap: 1.5rem;
    }
    & .projects-cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  section.contact {
    & .container {
      width: 90%;
    }

    & .row {
      flex-direction: column;
      row-gap: 1rem;
    }
  }

  // more
  section.more {
    & .container {
      width: 95%;
      padding: 0;
    }

    & .row {
      flex-direction: column;
    }

    & .animated-col {
      width: 70%;
    }
    & .progress-wrap {
      width: 90%;
    }
  }
}

// media query for-tablet

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  // header
  header .container {
    width: 98%;
  }

  // about me
  section.about-me {
    & .container {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    & .left-contenr .links {
      width: 83%;
    }
  }

  // projects
  section.projects {
    & .container {
      width: 85%;
    }

    & .projects-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // contact
  section.contact {
    & .container {
      width: 95%;
    }

    & .row {
      flex-direction: column;
      row-gap: 1rem;
    }
  }

  //  more
  section.more {
    & .container {
      width: 95%;
    }
  }
}
